<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682965950950-100jfd6l3bf4jeqeg36ekj6602jhk8vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682965950950-100jfd6l3bf4jeqeg36ekj6602jhk8vf</string>
	<key>API_KEY</key>
	<string>AIzaSyDv_dzAZenV3cYg74uSEWKKw2k4cCqhHbw</string>
	<key>GCM_SENDER_ID</key>
	<string>682965950950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haandvaerkervognenApp</string>
	<key>PROJECT_ID</key>
	<string>h6-haandvaerkerne</string>
	<key>STORAGE_BUCKET</key>
	<string>h6-haandvaerkerne.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682965950950:ios:e59380457dfcdb751db627</string>
</dict>
</plist>